.dot {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid black;
    margin:auto;
}


.low {
    background-color: blue;
}

.normal {
    background-color: green;
}

.elevated {
    background-color: rgb(238, 238, 0);
}

.hypertensionOne {
    background-color: orange;
}

.hypertensionTwo {
    background-color:red;
}

.crisis {
    background-color: rgb(124, 0, 0);
}